[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "3.8.4"
azure-core = "==1.26.4"
microsoft-kiota-abstractions = "==0.5.0"

[dev-packages]
flit = "==3.8.0"
pylint = "==2.17.2"
mypy = "==1.2.0"
yapf = "==0.32.0"
isort = "==5.12.0"
toml = "==0.10.2"
pytest = "==7.3.1"
pytest-asyncio = "==0.21.0"
pytest-cov = "==4.0.0"
pytest-mock = "==3.10.0"
asyncmock = "==0.4.2"
responses = "==0.23.1"
types-requests = "*"
